@model Dictionary<string,object>;

<div>
    <h3>Random Passcode (passcode #@Model["counter"])</h3>
</div>
<div>
    <h1>@Model["code"]</h1>
</div>
<div>
    <a href="/" class="btn btn-primary">Generate Passcode</a>
</div>